In [194]:
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd

In [195]:
url = 'https://en.wikipedia.org/wiki/List_of_railway_accidents_and_incidents_in_India'
response = requests.get(url)

In [196]:
soup = BeautifulSoup(response.text, 'html.parser')

In [197]:
all=[]
for para in soup.find_all("li"): 
    all.append(para.get_text())

In [198]:
data1=[]
for i in all:
    try:
        if type(int(i[0:2]))==int:
            data1.append(i)
            
    except:
        pass

In [199]:
maindata=data1.copy()

In [200]:
numbers_dict = {
        "one": 1,
        "two": 2,
        "three": 3,
        "four": 4,
        "five": 5,
        "six": 6,
        "seven": 7,
        "eight": 8,
        "nine": 9,
        "ten": 10,
        "eleven": 11,
        "twelve": 12,
        "thirteen": 13,
        "fourteen": 14,
        "fifteen": 15,
        "sixteen": 16,
        "seventeen": 17,
        "eighteen": 18,
        "nineteen": 19,
        "twenty": 20,
        "one hundred": 100,
        "two hundred": 200,
        "three hundred": 300,
        "five hundred": 500,
        "one thousand": 1000
    }

In [201]:
keys_list = list(numbers_dict.keys())

In [202]:
numbers_dict[keys_list[0]]

1

In [203]:
data1[0].replace("About",str(numbers_dict[keys_list[2]]))

'12 September 1902 – The Bombay-Madras Mail derailed on a bridge near Mangapatnam, Kadapa district. 3 100 passengers died. The then archbishop was among the survivors.[1]'

In [204]:
data1[0].lower()

'12 september 1902 – the bombay-madras mail derailed on a bridge near mangapatnam, kadapa district. about 100 passengers died. the then archbishop was among the survivors.[1]'

In [205]:

for i in range(0,len(data1)):
    for j in range(0,len(keys_list)):
        if keys_list[j].lower() in data1[i].lower():
            data1[i]=data1[i].replace(keys_list[j].lower(),str(numbers_dict[keys_list[2]]))

In [206]:
len(data1)

296

In [207]:
data1

['12 September 1902 – The Bombay-Madras Mail derailed on a bridge near Mangapatnam, Kadapa district. About 100 passengers died. The then archbishop was among the survivors.[1]',
 '24 October 1907 – A passenger train collided with a fr3 train at Kot Lakhpat station, killing 11 and injuring 27.[2][3]',
 '2 December 1908 – Two mail trains collided at Barara station, killing 22 and injuring 24.[4][3]',
 '27 April 1920 – Doon Express train collided with a goods train near Moradabad, resulting in 120 deaths and 50 injuries.[5][6]',
 '7 October 1920 – The Madras-Bangalore mail train derailed around 3\xa0km (1.9\xa0mi) past Arakkonam, killing 40 people.[7][8]',
 '17 July 1937 – Upper India Express train from Calcutta (now Kolkata) plunged down an embankment near Bihta station, about 24\xa0km (15\xa0mi) from Patna, killing at least 119 and injuring 180.[9][10]',
 '28 June 1939 – A train wreck resulted in 10 killed and 21 injured.[11]',
 '4 October 1942 – Frontier Mail accident 64\xa0km (40\xa0mi) northeast of Bombay (now Mumbai) resulted in 12 killed and 40 injured.[12]',
 '12 April 1950 – The Kumaon Express derailed and crashed into a river, killing 50 people.[13]',
 '7 May 1950 – A train plunged off a bridge in the state of Bihar, killing at least 81 people and injuring 100.[14]',
 '3 September 1951 – The Sharanpur Express derailed about 18\xa0km (11\xa0mi) from Delhi, killing 10 and injuring 30.[15]',
 '4 January 1954 – A passenger train derailed while crossing a bridge near Bhatinda, killing at least 15 people and injuring 40.[16]',
 '31 March 1954 – Explosives being transported on a passenger train detonated near Gorakhpur, killing 31 and injuring 32.[17]',
 '15 September 1954 – A train crashed into a truck carrying students at a crossing 130\xa0km (80\xa0mi) north of New Delhi, killing 10 and injuring 18.[18]',
 '27 September 1954 – Derailment of 319 Down Express at a girder bridge between Jangaon and Raghunathpalli stations, resulting in the deaths of 136 people.[19]',
 '28 September 1954 – A train crashed into the Yasanti river when a bridge collapsed, about 75\xa0km (47\xa0mi) south of Hyderabad, killing 139 and injuring more than 100.[20]',
 '2 September 1956 – 1956 Mahbubnagar train accident: A bridge collapsed under a train travelling between Jadcherla and Mahbubnager, about 100\xa0km (62\xa0mi) from Hyderabad. At least 125 were killed and 22 injured.[21][22][23][24]',
 '23 November 1956 – 1956 Ariyalur train accident: The Madras-Tuticorin Express plunged into a river from an embankment weakened by flooding, 282\xa0km (175\xa0mi) south of Madras. 104 people were killed and 100 injured.[25][26][27]',
 '2 June 1957 – A passenger train crashed into a stationary train in Bombay, killing 18 and injuring 53.[28]',
 '23 July 1957 – Tatanagar Train collision happened outside the Down outer signal of Tatanagar between Gua-Tata passenger and 304 Down Hazaribagh-Ranchi-Howrah Express running on the Adityapur-Tatanagar section.[29]',
 '19 August 1957 – Howrah bound Janata Express was in an accident between Palasa and Pundi stations on the South Eastern Railway. 4 persons were killed, 3 on the spot and 1 subsequently in the Palasa Railway Dispensary. 9 were injured seriously.[30]',
 '21 August 1957 – At 17:30 hrs a wagon loaded with crackers exploded at Katpadi Junction. 5 persons were killed on the spot and 12 were injured.[31]',
 '8 November 1957 – Train collision at Kosma Railway Station, on the Shikohabad-Farrukhabad Broad Gauge single line section of the Northern Railway.[32]',
 '23 November 1957 – Four coaches of the Bombay-Calcutta Mail capsized upon derailment near Padali, causing 9 deaths and 54 injuries.[33][34]',
 '21 May 1958 – An express train derailed near Chamaraj, killing 31 people and injuring 41.[citation needed]',
 '20 October 1959 An unfortunate head-on collision which took place at Bidanpur station on the  Allahabad - Kanpur section of the Northern Rail way between No.2 AGA Down Agra Cantt.—Allahabad Passenger and Up Ratlam Goods Special train on 20 October 1959 [35]',
 '4 January 1961 – Two passenger trains collided head-on near Umeshnagar, killing 35 and injuring 61.[citation needed]',
 '8 March 1961 – A passenger train and fr3 train collided between Kalihar and Bihar, killing 11 and injuring 37.[36]',
 '20 October 1961 – The Ranchi Express derailed 200\xa0km (120\xa0mi) from Kolkata, killing 47 and injuring many others.[37]',
 '22 July 1962 – The Howrah-bound Punjab Mail crashed into a goods train at Dumraon railway station, resulting in over 100 fatalities.[38]',
 '12 November 1962 – 25 passengers riding on the roof of a train were killed when they were struck by a bridge girder.[citation needed]',
 '22 July 1963 – More than 100 passengers were killed when Udyan Abha Toofan Express derailed at Etmadpur near Tundla Junction.',
 '23 December 1964 – The Pamban-Dhanuskodi passenger train was washed away by the Rameswaram cycl3, killing over 126 passengers on board.[39]',
 '19 June 1965 – A fr3 train collided with a train carrying railway workers about 800\xa0km (500\xa0mi) from Mumbai, killing 15.[40]',
 '16 February 1966 – A Mail Express train in Assam was bombed by Naga separatists, killing 27.[41]',
 '20 April 1966 – A train at the Lumding railway station was bombed by Naga separatists, killing 55 and wounding 127.[42]',
 '23 April 1966 – A train at the Diphu railway station was bombed by Naga separatists, killing 40 and wounding 60.[43]',
 '13 June 1966 – Two passenger trains collided near Matunga railway station, killing at least 57 people and injuring 100.[44]',
 '19 March 1968 – The Bangalore-bound Deccan Express from Poona and the Birur–Hubli passenger train collided at Yalvigi station on the Harihar-Hubli section of the Southern Railway, killing 53 and injuring 42.[45]',
 '4 February 1969 – Passengers riding on the top of a train were swept off by the girders of a bridge near Madras, killing 32 people and injuring 50.[46]',
 '21 June 1969 – Six passenger cars of an express derailed and fell into the Magari River, killing 70 and injuring 130 in Muhammadabad.[47]',
 '14 July 1969 – A fr3 train crashed into a stationary passenger train at Jaipur, killing 85 and injuring 130.[48]',
 '28 April 1970 – Collision of 31 Up Barauni Kanpur Passenger Train at Lucknow Junction of Northern Railway.[49]',
 '29 May 1970 – Derailment of 18up Delhi-Madras Janata Express Train at Talamanchi Station, South Central Railway.[49]',
 '28 September 1970 – Derailment of 6 Down Amritsar-Howrah Mail at Karna Station, Northern Railway.[49]',
 '26 October 1970 – Head-on Collision between 1 Ajd Up Passenger Train and 456 Down Goods Train at Khurja Jn. Station of Northern Railway.[49]',
 '31 October 1970 – Collision between No.1 Down Madras-Mangalore Mail and No.19 Down Madras Cochin Mail at Perambur Station of Southern Railway.[49]',
 '5 November 1970 – Collision of Down Diesel Erb Special 1 with 46 Down (Hyderabad-Howrah Express) between Retang and Bhubaneswar Stations on the East Coast Main Line of the South Eastern Railway.[49]',
 '6 January 1971 – Collision between R 81 Up Ranaghat Local and T151 Up Barasat Local Trains at Dum Dum Jn. Station of Eastern Railway.[49]',
 '25 April 1971 – Head-on Collision between No. 102 Do-4 Up Goods Train and No. 395 Wardha Kazipet Passenger Train Near Asifabad Road Station of the South Central Railway.[49]',
 '26 June 1971 –A Borivli-Churchgate Suburban Train crashes at Goregaon Yard of Western Railway.[49]',
 '6 July 1971 –Two trains collide on the eastern railway[49]',
 '11 November 1971 – Lucknow Store Incharge V.K. Bisaria found dead at Railway Track in different pieces.',
 '26 April 1972 – A train derailed in Mysore state, killing 21 and injuring 37.[50]',
 '28 June 1972 – Derailment of 222 Down Udaipur City-Marwar Jn. Passenger Train Between Phulad and Marwar Ranawas Stations of Western Railway.[49]',
 '27 July 1973 – Collision of 87 Up South Bihar Express with The Rear of 5 Up Howrah Amritsar Mail at Km. 291.767 between Joramow Block Hut and Madhupur Junction Station of Eastern Railway.[49]',
 '12 December 1973 – Rear end Collision between 358 Up Itarsi-Bhusaval Passenger and Stationary Goods Train No.L-30 Up at Burhanpur Station of Central Railway.[49]',
 '21 February 1974 – A passenger train crashed into a fr3 train at Moradabad, killing 41 and injuring 63.[51]',
 '9 March 1974 – Derailment of 662 Up Mixed Train between Sillipur and Birpur Stations on Sheopur Kalan Gwalior Narrow Gauge Section of Jhansi Division on Central Railway.[49]',
 '2 July 1974 – Rear-End Collision of 55 Up Patna Delhi Express with Stationary Up Amritsar Special Goods at Chandausi Junction Station of Northern Railway.[49]',
 '12 November 1974 – Fire on 311 Up Sealdah Samastipur Fast Passenger between Rampur Dumra and Hatidih Link Cabin on Danapur Division of Eastern Railway.[49]',
 '26 February 1975 – Derailment of 59up Kamrup Express between New Jalpaiguri and Ambari Falakata Stations of Northeast Frontier Railway.[49]',
 '11 July 1975 – Collision of 6 Up Punjab Mail with Up Diesel Special Goods Train at Khirkiya Station of Central Railway.[49]',
 '29 January 1975 – Collision of 43 Up Darjeeling Mail with the rear of H. 185 Up HABRA Local on the Up Main Line at Ultadanga Road Station on Eastern Railway.[49]',
 '26 March 1975 – Derailment of 365 Up Sealdah Lalgola Passenger Train at the Up Facing Points of Birnagar Station at 89/14-16 on Sealdah Lalgola Section of Eastern Railway.[49]',
 '26 November 1975 – Derailment of No.20 Up Dehra Dun Express at Virar Station on The Valsad-Bombay Central Broad Gauge Section of Western Railway.[49]',
 '6 January 1976 – Derailment of No.20 Up Cochin Harbour Terminus Madras Central Mail between Mukundarayapuram and Walajah Road Junction Stations of Southern Railway.[49]',
 '24 May 1976 – Collision of Kurla Wiring Train with The Rear of N-9 Down Local Train on The Down Main Line at ES. 23/12 between Vikhroli and Kanjur Marg Stations on the Bombay Kalyan B.G. Section of Central Railway.[49]',
 '14 July 1976 – Derailment of 234 Down Mixed Train between Golaghat and Furkating M.G. Section of Tinsukia Division of Northeast Frontier Railway.[49]',
 '30 August 1976 – Derailment of 59 Up Kamrup Express at Km 195/ 1-4 between Samsi and Bhaluka Droad Stations on Malda Town New Jalpaiguri Broad Gauge Section of Katihar Division of Northeast Frontier Railway.[49]',
 '11 October 1976 – Derailment of 23 Up Patna Hatia Express between Silli and Kita Stations on Muri Hatia Section of South Eastern Railway.[49]',
 '23 October 1976 – Derailment 5 of No. 371 Sown Suburban Train at Bandra Station of the Bombay Suburban Section of Western Railway.[49]',
 '17 November 1976 – Double collision, first of Oja Special Goods Train with the rear of Wjd-12 Up Goods Train and subsequently of No. 78up Vijayawada Madras Parcel Passenger with the rear of the Oja Special Goods Train between the Up Distance and Up Home signals of Srivenkateswarapalem of South Central Railway.[49]',
 '7 February 1977 – Derailment of 104 Down Kathgodam Bareilly Passenger in The Catch Siding at Haldwani Station of Izzatnagar Division of North Eastern Railway.[49]',
 '25 March 1977 – Collision of Up BPQD Goods Train with the rear of No.76up Waltair Kazipet Passenger Train on the Up Main Line of Kesamudram Station on Vijayawada Kazypet Bg Double Line Section of South Central Railway.[49]',
 '20 April 1977 – Derailment of 367 Up Sealdah-Lalgola Passenger Train at Km. 52/27-53/II, in Madanpur Station Yard, on Sealdah Ranaghat Section in Sealdah Division of Eastern Railway.[49]',
 '27 May 1977 – Collision of No. 20 Up Trivandrum Central Madras Central Mail Train with 3 Coupled Light Engines at Km. 117/4-5 in Tiruvalam Station Yard on the Jolarpettai Madras Double Line Broad Gauge Section of Southern Railway.[49]',
 '30 May 1977 – A bridge across the Beki river near Guwahati collapsed under 13 Up Tezpur Express, killing at least 45 people and injuring 100.[52]',
 '4 August 1977 – Two Dsu Passenger trains derail at Modinagar Station of Delhi Division of Northern Railway.[49]',
 '10 October 1977 – Collision between 103 Up Howrah-Amritsar Deluxe Express Train and Up CPC Special Goods Train at Naini Station on Allahabad Division of Northern Railway at 00.15 Hrs[49]',
 '17 October 1977 – Derailment of No.107 Down Madras Rameswaram Passenger Train between Paramakkudi and Pandikanmoi Stations on the Manamadurai-Rameswaram Single Line Metre Gauge Section of Southern Railway.[49]',
 '9 November 1977 – Collision of No. 385 Bhusaval Nagpur Passenger train with a cargo train on the main Line of Akola station on the Bhusaval Badnera.[49]',
 '23 November 1977 – A passenger train derailed near Rewari, probably due to sabotage of the rail tracks. 20 people were killed and 21 others seriously injured.[53]',
 '9 February 1978 – Collision of No. 38 Down Madras Howrah Janata Express with the Rear of No. Jbd-Ii Down Goods Train on the Down Loop Line of Vedayapalem Station on the Gudur Bitragunta Double Line Broad Gauge Section of The South Central Railway.[49]',
 '18 April 1978 – 7 Dn Bombay Ahmedabad Janta Express crashed into the rear of 537 Down Churchgate Virar Suburban Train at Bassain Road station in Bombay, killing 30 and injuring 60.[54]',
 '26 August 1978 – Collision between Madras New Delhi Grand Trunk Express Train and A Run Away Box Wagon between Tondalagopavaram and Errupalem Stations on Vijaywada Kazipet Section of South Central Railway.[49]',
 '18 September 1978 – No.40up Ahmedabad Bombay Passenger Train met with an accident at Valsad Station on The Surat Bombay Central Broad Gauge Double Line Route of Western Railway.[49]',
 '11 October 1978 – Collision between No. 316up Miraj Pune Passenger and M-32 LNN Down Diesel Goods between Bhavani Nagar and Takari Stations of The Miraj Pune B.G. Single Line Section of South Central Railway.[49]',
 '4 November 1978 – 1 Up Howrah Kalka mail derailed between Baruipara and Kamarkundu of eastern railway.[49]',
 '11 November 1978 – Collision between No. 316up Miraj Pune Passenger and M-32 LNN Down Diesel Goods between Bhavani Nagar and Takari Stations of the Miraj Pune B.G. Single Line Section of South Central Railway.[49]',
 '21 December 1978 – 2636 UP Madurai – Madras Vaigai Superfast Express dashed against 3 boulders between Talanallur and Vridhachalam Town station of Chord line.',
 '12 May 1979 – Derailment of 3 Pn Up (Pathankot-Nagrota) Passenger Train at Km. 37/5-6 between Talara and Jawanwala Shah Stations on Pathankot Joginder Nagar Narrow Gauge Section in Firozpur Division of Northern Railway.[49]',
 '18 May 1979 – Collision of K. 121 Up Howrah-Kharagur Local with the rear of 3 Up Howrah-Madras Mail at Km.25/25-27 on the Up Line between Bauria and Chengail Stations.[49]',
 '26 October 1979 – Rear End Collision between Electric Multiple Unit Trains No. E-65 and No.E-67 on The Down Subudrban Line at Madras Egmore Station on Madras Beach Tambaram Suburban Metre Gauge Section of Southern Railway.[49]',
 '14 November 1979 – Two trains collided near Matunga, killing 5 and injuring 50.[55]',
 '22 November 1979 – Derailment of 6 Up Bg Saurashtra (Viramgam Bombay Central ) Mail at Sabarmati and subsequent collision of 24down Mg Somnath (Ahmedabad Veraval) Mail with The Derailed Luggage Van of 6 Up Mail.[49]',
 '3 December 1979 – Derailment of No. 204 Down Miraj Bangalore Mahalaxmi Express Train Near Lalhond Halt Station between Desur and Khanapur Stations of the Miraj Hubli Metre Gauge Section of South Central Railway.[49]',
 '8 December 1979 – Collision of No. T-181 Down Bombay V.T. Thane Suburban Train with No.Tl-31 Down Bombay V.T. Titvala Suburban train at Km. 21/3-4 between Ghatkopar and Vikhroli Quadruple Line Broad Gauge Suburban Section of Bombay Division, Central Railway.[49]',
 '23 December 1979 – 1 Dn Avadh-Trihut Mail crashed into the rear of the standing 26 Dn Guwahati Dhubri passenger train near Sarupeta, killing 18 and injuring 25.[56]',
 '12 February 1981 – A fr3 train, the No.20 Madras Mail from Trivandrum Central Trivandrum Mail, and the Yercaud Express collided in Vaniyambadi, 200\xa0km (120\xa0mi) from Chennai.[57]',
 '6 June 1981 – The Bihar train derailment occurred when a train fell into the river Bagmati while crossing a bridge, killing between 300 and 800 people. It is estimated to have been 3 of the deadliest train accidents in India.[58]',
 '16 July 1981 – A fr3 train collided with the back of a Narmada Express in Madhya Pradesh, between Khodri and Bhanwar Tonk station, killing 50 people and injuring 49.[59]',
 '19 July 1981 – A train travelling to Ahmedabad from New Delhi derailed in Gujarat, killing 30 people and injuring 70. Sabotage was blamed.[citation needed]',
 '28 January 1982 – A fr3 train and an express passenger train collided head-on in heavy fog near Agra, killing 50 and injuring 50.[60]',
 '20 March 1982 – A Mangalore–New Delhi train collided with a tourist bus at a level crossing in Andhra Pradesh, killing at least 59 people on the bus and injuring 25 others.[61]',
 '10 February 1984 – The 2 DR (Rohtak–Delhi) train collided into the rear coaches of the stationary 38 Down Punjab Mail on platform No.3 of Bahadurgarh station in Haryana, killing 43 and injuring 58.[62]',
 '15 September 1984 – The Jabalpur-Gondia passenger mishap occurred when a passenger train sank in river near Charegaon, Balaghat, Madhya Pradesh, killing over 150 people.',
 '15 August 1984 – Derailment of 41 up Coromandel Express at Chhattrapur near Berhampur in Odisha. 16 dead.',
 '22 November 1984 – The Mumbai local rail disaster occurred where 3 train collided with other train on the Byculla railway station.',
 '23 February 1985 – The Rajnandgaon train fire occurred when an express train caught fire in Madhya Pradesh, killing over 50 people.[63]',
 '13 June 1985 – The Agra rail disaster involved a collision at Agra between an express and a goods train, killing 38 people.[63]',
 '22 November 1985 – Two trains viz The New Delhi-bound Tinsukia Mail passenger train and a fr3 train collided in the eastern state of West Bengal, at Dhupguri railroad station, about 750 miles east of New Delhi killing at least 3 person and injuring more than 300 others, 3 seriously. Three to Five cars of the passenger train derailed in the accident.[64][65]',
 '10 March 1986 – The Khagaria rail disaster involved a collision in Bihar, killing over 50 people.[63]',
 '8 July 1987 – The Machieral rail disaster involved the derailment of the Delhi-Dakshin Express at Macherial, Andhra Pradesh, killing 53.[63]',
 '15 March 1987 – Rockfort Express (Chennai–Tiruchi) plunged into a dry riverbed when a bomb exploded on a bridge over the Marudaiyar, near Ariyalur.  25 people were killed and several others were injured.[66]',
 '18 April 1988 – Lalitpur rail disaster involved the Karnataka Express derailing near Lalitpur, killing 75.[63][67]',
 '8 July 1988 – Peruman railway accident occurred when the Island Express (Bangalore City–Kanyakumari) derailed on the Peruman bridge and fell into Ashtamudi Lake, killing 105 people and injuring around 200.[68][69][70]',
 '16 December 1988 – Coromandel Express derailed at Vijayawada. 8 dead 64 injured.',
 '1 November 1989 – Udyan Abha Toofan Express derailed in Sakaldiha, Uttar Pradesh killing at least 48.[71]',
 '16 April 1990 – The Patna rail disaster involved a shuttle train consumed by fire near Patna, killing 70.[72]',
 '6 June 1990 – A fire on a train at Gollaguda, in Andhra Pradesh, killed 36 people.[72]',
 '25 June 1990 – A fr3 train collided with a passenger train at Mangra, Bihar, leading to 60 deaths.[72]',
 '10 October 1990 – A train fire near Cherlapalli in Andhra Pradesh killed 40 people.[72]',
 '6 March 1991 – The Karnataka Express derailed in the rain near Makalidurga ghats, about 60\xa0km (37\xa0mi) from Bangalore, killing 30.[73]',
 '12 December 1991 – The Kangra valley train suffered a crash near Jawali, Himachal Pradesh, killing 27.[74]',

In [208]:
cleaned=[]
dates= []

for i in range(len(data1)):
    clean=data1[i][0:data1[1].find("[")]
    cleaned.append(clean)
    date= clean[0:data1[1].find("–")-1]

In [209]:
j=0
deaths_all=[]
info=[]
dates=[]
leftovers=[]
for i in range(len(data1)):
    test=data1[i]
    #test="22 July 1962 – The Howrah-bound Punjab Mail crashed into a goods train at Dumraon railway station, resulting in over 0 fatalities."
    test=test[0:test.find("[")]
    
    
    #print(date)
    #print(date)
    #print("_____________________________________")
    #print("_____",test)
    deaths=None
    ######## killing
     
    if "passengers died" in test.lower():
        deaths= (test[(test.find(" ",test.find("passengers died")-5)+1):test.find("passengers died")-1])
    elif "killing at least" in test.lower():
        deaths= (test[(test.find("killing at least")+17):(test.find(" ",test.find("killing at least",2)+17))])

    elif "deaths of" in test.lower():
        deaths= (test[(test.find("deaths of")+10):(test.find(" ",test.find("deaths of",2)+10))])
    elif "killing over" in test.lower():
        deaths= (test[(test.find("killing over")+13):(test.find(" ",test.find("killing over",2)+13))])
   
    elif "killing" in test.lower():
        deaths= (test[(test.find("killing")+8):(test.find(" ",test.find("killing",2)+8))])
        
    elif "people reported dead" in test.lower():
        deaths= (test[(test.find(" ",test.find("people reported dead")-5)+1):test.find("people reported dead")-1])
        
    elif "deaths" in test.lower():
        deaths= (test[(test.find(" ",test.find("death")-5)+1):test.find("death")-1])
        
    elif "passengers were killed" in test.lower():
        deaths= (test[(test.find(" ",test.find("passengers were killed")-5)+1):test.find("passengers were killed")-1])
   
    elif "people were killed" in test.lower():
        deaths= (test[(test.find(" ",test.find("people were killed")-5)+1):test.find("people were killed")-1])
    elif "persons were killed" in test.lower():
        deaths= (test[(test.find(" ",test.find("persons were killed")-5)+1):test.find("persons were killed")-1])

    elif "were killed" in test.lower():
        deaths= (test[(test.find(" ",test.find("were killed")-5)+1):test.find("were killed")-1])
    
    elif "people died" in test.lower():
        deaths= (test[(test.find(" ",test.find("people died")-5)+1):test.find("people died")-1])
        
    elif "fatalities" in test.lower():
        deaths= (test[(test.find(" ",test.find("fatalities")-5)+1):test.find("fatalities")-1])
        
    elif "killed" in test.lower():
        deaths= (test[(test.find(" ",test.find("killed")-5)+1):test.find("killed")-1])
        try:
            int(deaths)
        except:
            deaths= (test[(test.find("killed")+8):(test.find(" ",test.find("killed",2)+8))])
            #print(type(deaths))
        
    else:
        j=j+1
        deaths="0"
        
        #print("null/...")
    #print("^________________________")
    if deaths!=None:
        if deaths.isnumeric():
            date= test[0:test.find("–")-1]
            
            if len(date)>70:
                date= test[0:test.find("-",1)-1]
            if len(date)>70:
                date= test[0:test.find("—",1)-1]
                    
                
            if len(date)<30 and  len(date)>5 : 
                print(date)
                
                
                try:
                    deaths = re.findall(r'\d+', deaths)
                    deaths=' '.join(deaths)
                    #print(int(deaths))
                    #print(test)
                    deaths_all.append(deaths)
    
                        
                    #print(dates)
                    info.append(test)
                    #print(deaths)
                    #print(date)
                    dates.append(date)
        
        
                except:
                    print('err')
                    pass
                    #print(test,"\n   xxxxxxxxxxx")

print(len(dates))

12 September 1902
24 October 1907
2 December 1908
27 April 1920
7 October 1920
17 July 1937
28 June 1939
4 October 1942
12 April 1950
7 May 1950
3 September 1951
4 January 1954
31 March 1954
15 September 1954
27 September 1954
28 September 1954
2 September 1956
23 November 1956
2 June 1957
23 July 1957
19 August 1957
21 August 1957
8 November 1957
23 November 1957
21 May 1958
4 January 1961
8 March 1961
20 October 1961
22 July 1962
22 July 1963
23 December 1964
19 June 1965
16 February 1966
20 April 1966
23 April 1966
13 June 1966
19 March 1968
4 February 1969
21 June 1969
14 July 1969
28 April 1970
29 May 1970
28 September 1970
26 October 1970
31 October 1970
5 November 1970
6 January 1971
25 April 1971
26 June 1971
6 July 1971
11 November 1971
26 April 1972
28 June 1972
27 July 1973
12 December 1973
21 February 1974
9 March 1974
2 July 1974
12 November 1974
26 February 1975
11 July 1975
29 January 1975
26 March 1975
26 November 1975
6 January 1976
24 May 1976
14 July 1976
30 August 1976
11 October 1976
23 October 1976
17 November 1976
7 February 1977
25 March 1977
20 April 1977
27 May 1977
30 May 1977
4 August 1977
10 October 1977
17 October 1977
9 November 1977
23 November 1977
9 February 1978
18 April 1978
26 August 1978
18 September 1978
11 October 1978
4 November 1978
11 November 1978
21 December 1978
12 May 1979
18 May 1979
26 October 1979
14 November 1979
22 November 1979
3 December 1979
8 December 1979
23 December 1979
12 February 1981
16 July 1981
19 July 1981
28 January 1982
20 March 1982
10 February 1984
15 September 1984
15 August 1984
22 November 1984
23 February 1985
13 June 1985
22 November 1985
10 March 1986
8 July 1987
18 April 1988
8 July 1988
16 December 1988
1 November 1989
16 April 1990
6 June 1990
25 June 1990
10 October 1990
6 March 1991
12 December 1991
5 September 1992
16 January 1993
16 July 1993
21 September 1993
3 May 1994
26 October 1994
14 May 1995
1 June 1995
1 June 1995
20 August 1995
18 April 1996
14 May 1996
25 May 1996
30 December 1996
8 July 1997
28 July 1997
15 August 1997
14 September 1997
5 October 1997
6 December 1997
6 Jan 1998
4 April 1998
24 April 1998
13 August 1998
24 September 1998
26 November 1998
16 July 1999
2 August 1999
15 August 1999
6 December 1999
2 December 2000
22 June 2001
27 February 2002
28 February 2002
13 May 2002
4 June 2002
15 May 2003
22 June 2003
2 July 2003
16 June 2004
14 December 2004
28 July 2005
3 October 2005
25 October 2005
29 October 2005
11 July 2006
20 November 2006
1 December 2006
18 February 2007
7 August 2007
13 February 2009
29 April 2009
20 October 2009
2 January 2010
3 January 2010
16 January 2010
17 January 2010
22 January 2010
25 May 2010
28 May 2010
4 June 2010
18 June 2010
19 July 2010
17 August 2010
1 January 2011
3 January 2011
7 July 2011
10 July 2011
10 July 2011
23 July 2011
31 July 2011
13 September 2011
22 November 2011
23 November 20211
11 January 2012
26 February 2012
20 March 2012
22 May 2012
31 May 2012
19 July 2012
30 July 2012
19 December 2012
26 December 2012
10 April 2013
19 August 2013
2 November 2013
13 November 2013
15 November 2013
28 December 2013
20 March 2014
1 May 2014
26 May 2014
25 June 2014
23 July 2014
13 February 2015
20 March 2015
25 May 2015
4 August 2015
12 September 2015
12 September 2015
5 February 2016
6 May 2016
27 August 2016
20 November 2016
6 December 2016
28 December 2016
28 December 2016
21 January 2017
7 March 2017
30 March 2017
15 April 2017
23 August 2017
24 November 2017
24 November 2017
25 April 2018
6 May 2018
24 July 2018
19 October 2018
3 February 2019
31 March 2019
20 April 2019
29 August 2019
22 July 2020
25 March 2022
2 January 2023
3 April 2023
15 May 2023
2 June 2023
8 Jun 2023
9 Jun 2023
11 Jun 2023
22 Jun 2023
25 Jun 2023
7 July 2023
23 August 2023
23 September 2023
26 September 2023
11 October 2023
29 October 2023
31 October 2023
28 February 2024
15 June 2024 — A 6
263

In [210]:
len(info)

263

In [211]:
leftovers

[]

In [212]:
dfraw = pd.DataFrame({
    'dates':dates,
    'text': info,
    'deaths': deaths_all
})
dfraw

,dates,text,deaths
0,12 September 1902,12 September 1902 – The Bombay-Madras Mail der...,100
1,24 October 1907,24 October 1907 – A passenger train collided w...,11
2,2 December 1908,2 December 1908 – Two mail trains collided at ...,22
3,27 April 1920,27 April 1920 – Doon Express train collided wi...,120
4,7 October 1920,7 October 1920 – The Madras-Bangalore mail tra...,40
...,...,...,...
258,11 October 2023,11 October 2023 — On the night of 11 October 2...,3
259,29 October 2023,29 October 2023 — On the evening of 29 October...,14
260,31 October 2023,31 October 2023 — the Suheldev Superfast Expre...,0
261,28 February 2024,28 February 2024 — At least 3 people were crus...,0
262,15 June 2024 — A 6,15 June 2024 — A 62-year old man from Kerala s...,0

In [213]:
dfraw[dfraw["dates"].str.contains("1995")]

              dates                                               text deaths
127     14 May 1995  14 May 1995 – The Madras–Kanyakumari Express c...     52
128     1 June 1995  1 June 1995 – The Jammu Tawi Express from Kolk...     45
129     1 June 1995  1 June 1995 – Four carriages of the Hirakud Ex...     15
130  20 August 1995  20 August 1995 – The Firozabad rail disaster o...    400

In [214]:
dfraw.iloc[128,1]

'1 June 1995 – The Jammu Tawi Express from Kolkata collided with a stationary coal-laden goods train, killing 45 and injuring 335.'

In [215]:
from bs4 import BeautifulSoup
from lxml import etree


dfstat=pd.DataFrame()

page = requests.get('https://en.wikipedia.org/wiki/List_of_railway_stations_in_India').text
soup = BeautifulSoup(page, 'html.parser')

dom = etree.HTML(str(soup))

for i in range(100):
    try:
        xpath = f'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/div[{i}]/div[2]/table'
 
      
    except:
        print("nill ",i)
    table = dom.xpath(xpath)
    
    if table:
        # Convert the lxml element back to a string and parse with BeautifulSoup
        table_html = etree.tostring(table[0], pretty_print=True).decode()
        table_soup = BeautifulSoup(table_html, 'html.parser')
        
        # Print the table content
        table1= table_soup.prettify()
        df1 = pd.read_html(str(table1))
        df1 = pd.concat(df1)
        dfstat= pd.concat([dfstat,df1])
        
        
    
    else:
        pass
        
dfstat = dfstat.reset_index(drop=True) 
dfstat.index = dfstat.index + 1
print("Done")

Done

In [216]:
dfstat.head()

,Station name,Station code,city,Railway zone,Elevation,Notes,State,Map,Division,Note,Unnamed: 6
1,Abada,ABB,West Bengal,SER/South Eastern,7 m,[1],NaN,NaN,NaN,NaN,NaN
2,Abhaipur,AHA,Bihar,ER/Eastern,52 m,[2],NaN,NaN,NaN,NaN,NaN
3,Abhayapuri,AYU,Assam,NFR/Northeast Frontier,45 m,[3],NaN,NaN,NaN,NaN,NaN
4,Abohar Junction,ABS,Punjab,NR/Northern,186 m,[4],NaN,NaN,NaN,NaN,NaN
5,Abu Road,ABR,Rajasthan,NWR/North Western,260 m,[5],NaN,NaN,NaN,NaN,NaN

In [217]:
dfstat.tail()

,Station name,Station code,city,Railway zone,Elevation,Notes,State,Map,Division,Note,Unnamed: 6
4011,Zankhvav,ZNK,NaN,WR/Western,121 m,NaN,Gujarat,NaN,NaN,NaN,NaN
4012,Zarap,ZARP,NaN,KR/Konkan,NaN,NaN,Maharashtra,NaN,NaN,NaN,NaN
4013,Zarpur Pali,ZP,NaN,NWR/North Western,NaN,NaN,Haryana,NaN,NaN,NaN,NaN
4014,Zawar,ZW,NaN,NWR/North Western,353 m,NaN,Rajasthan,NaN,NaN,NaN,NaN
4015,Zindpura,ZNP,NaN,NE/North Eastern,NaN,NaN,Uttar Pradesh,NaN,NaN,NaN,NaN

In [218]:
dfstat=dfstat.reset_index(drop=True)

In [219]:
dfstat["State"]=dfstat['city'].fillna(dfstat['State'])

In [220]:
dfstat=dfstat.drop(dfstat.columns[[2,5,7,8,9,10]], axis=1)

In [221]:
dfstat=dfstat.reset_index(drop=True)

In [222]:
dfstat.isnull().sum()

Station name       0
Station code      35
Railway zone    2319
Elevation       3037
State           1044
dtype: int64

In [225]:
dfstat

,Station name,Station code,Railway zone,Elevation,State
0,Abada,ABB,SER/South Eastern,7 m,West Bengal
1,Abhaipur,AHA,ER/Eastern,52 m,Bihar
2,Abhayapuri,AYU,NFR/Northeast Frontier,45 m,Assam
3,Abohar Junction,ABS,NR/Northern,186 m,Punjab
4,Abu Road,ABR,NWR/North Western,260 m,Rajasthan
...,...,...,...,...,...
4010,Zankhvav,ZNK,WR/Western,121 m,Gujarat
4011,Zarap,ZARP,KR/Konkan,NaN,Maharashtra
4012,Zarpur Pali,ZP,NWR/North Western,NaN,Haryana
4013,Zawar,ZW,NWR/North Western,353 m,Rajasthan
4014,Zindpura,ZNP,NE/North Eastern,NaN,Uttar Pradesh

In [223]:
dfstat["State"].isnull()

0       False
1       False
2       False
3       False
4       False
        ...
4010    False
4011    False
4012    False
4013    False
4014    False
Name: State, Length: 4015, dtype: bool

In [224]:
len(dfstat)

4015

In [226]:
missing={"Dumraon": "Bihar",
    "Bir": "Himachal Pradesh",
    "Muhammadabad": "Uttar Pradesh",
    "Sakaldiha": "Uttar Pradesh",
    "Mangra": "Bihar",
    "Fatehpur": "Uttar Pradesh",
        "Bar":"Rajasthan"}

dfstat["State"] = dfstat["Station name"].map(missing).fillna(dfstat["State"])

In [230]:
dfstat[dfstat["State"].isnull()]

      Station name Station code Railway zone Elevation State
316         Banahi          BYN          NaN       NaN   NaN
323        Banbasa         BNSA          NaN       NaN   NaN
325      Bandakpur          BNU          NaN       NaN   NaN
329   Bandh Bareta           BR          NaN       NaN   NaN
338        Bangrod          BOD          NaN       NaN   NaN
...            ...          ...          ...       ...   ...
3549       Tilrath          TIL          NaN       NaN   NaN
3550       Tilwara          TWL          NaN       NaN   NaN
3552    Timba Road          TBA          NaN       NaN   NaN
3554    Tinai Ghat          TGT          NaN       NaN   NaN
3559       Tipling          TPG          NaN       NaN   NaN

[1037 rows x 5 columns]

In [235]:
dfstat[dfstat["Station name"]=="Barara"]

    Station name Station code Railway zone Elevation    State
356       Barara          RAA          NaN       NaN  Haryana

In [231]:
dfstat = dfstat.dropna(subset=["State"])

In [148]:
## search

In [232]:
dfstat = dfstat.reset_index(drop=True)

In [241]:
dfraw.text[2]

'2 December 1908 – Two mail trains collided at Barara station, killing 22 and injuring 24.'

In [255]:
dfstat["Station name"][356]

'Barara'

In [256]:
dfstat["Station name"][356]+" " in dfraw.text[2]

True

In [257]:
l=0
station_=[]
state_=[]
date_=[]
deaths_=[]
for i in range(1,len(dfraw)):
    line=(dfraw["text"][i])
    for j in range(1,len(dfstat)):
        srch_stat=dfstat["Station name"][j]+" " 
        if ( srch_stat in line):
            station_.append(dfstat["Station name"][j])
            state_.append(dfstat["State"][j])
            date_.append(dfraw["dates"][i])
            deaths_.append(dfraw["deaths"][i])

            l=l+1
            break
        #line.contains(dfstat["Station name"][j])
print(l)

137

In [258]:
dfinal = pd.DataFrame({
    'date':date_,
    'station': station_,
    'state':state_,
    'deaths': deaths_
})
dfinal

                   date            station           state deaths
0       2 December 1908             Barara         Haryana     22
1          17 July 1937              Bihta           Bihar    119
2     27 September 1954            Jangaon       Telangana    136
3      2 September 1956          Jadcherla       Telangana    125
4      23 November 1956           Ariyalur      Tamil Nadu    104
..                  ...                ...             ...    ...
132   23 September 2023    Shri Ganganagar       Rajasthan      0
133     11 October 2023        Anand Vihar           Delhi      3
134     29 October 2023        Kottavalasa  Andhra Pradesh     14
135     31 October 2023        Anand Vihar           Delhi      0
136  15 June 2024 — A 6  Hazrat Nizamuddin           Delhi      0

[137 rows x 4 columns]

In [259]:
dfinal

                   date            station           state deaths
0       2 December 1908             Barara         Haryana     22
1          17 July 1937              Bihta           Bihar    119
2     27 September 1954            Jangaon       Telangana    136
3      2 September 1956          Jadcherla       Telangana    125
4      23 November 1956           Ariyalur      Tamil Nadu    104
..                  ...                ...             ...    ...
132   23 September 2023    Shri Ganganagar       Rajasthan      0
133     11 October 2023        Anand Vihar           Delhi      3
134     29 October 2023        Kottavalasa  Andhra Pradesh     14
135     31 October 2023        Anand Vihar           Delhi      0
136  15 June 2024 — A 6  Hazrat Nizamuddin           Delhi      0

[137 rows x 4 columns]

In [260]:
dfinal.isnull().sum()

date       0
station    0
state      0
deaths     0
dtype: int64

In [261]:
dfinal

                   date            station           state deaths
0       2 December 1908             Barara         Haryana     22
1          17 July 1937              Bihta           Bihar    119
2     27 September 1954            Jangaon       Telangana    136
3      2 September 1956          Jadcherla       Telangana    125
4      23 November 1956           Ariyalur      Tamil Nadu    104
..                  ...                ...             ...    ...
132   23 September 2023    Shri Ganganagar       Rajasthan      0
133     11 October 2023        Anand Vihar           Delhi      3
134     29 October 2023        Kottavalasa  Andhra Pradesh     14
135     31 October 2023        Anand Vihar           Delhi      0
136  15 June 2024 — A 6  Hazrat Nizamuddin           Delhi      0

[137 rows x 4 columns]

In [262]:
data = {
    'date': ["17 June 2024"],
    'station': ["Rangapani"],
    'state': ["West Bengal"],
    'deaths': [10]
}

new_data = pd.DataFrame(data)

dfinal = pd.concat([dfinal, new_data], ignore_index=True)

In [263]:
dfinal[dfinal['date'].str.contains("Jan")]

                date                  station          state deaths
17    6 January 1971                  Dum Dum    West Bengal      0
27   29 January 1975               Darjeeling    West Bengal      0
30    6 January 1976  Cochin Harbour Terminus         Kerala      0
79        6 Jan 1998                    Kashi  Uttar Pradesh     70
93   17 January 2010               Haidergarh  Uttar Pradesh      0
119  21 January 2017              Bhubaneswar         Odisha     41

In [264]:
for i in range(0,len(dfinal)):
    if "Jun " in dfinal['date'][i]:
        dfinal['date'][i]=dfinal['date'][i].replace("Jun","June")

In [274]:
dfinal[dfinal['date'].str.contains("Nov")]

                 date      station              state deaths
4    23 November 1956     Ariyalur         Tamil Nadu    104
6     8 November 1957  Farrukhabad      Uttar Pradesh      0
16    5 November 1970  Bhubaneswar             Odisha      0
19   11 November 1971      Lucknow      Uttar Pradesh      0
25   12 November 1974      Danapur              Bihar      0
29   26 November 1975        Virar        Maharashtra      0
43    9 November 1977     Bhusaval        Maharashtra      0
49    4 November 1978        Kalka            Haryana      0
50   11 November 1978        Nagar          Rajasthan      0
53   22 November 1979      Somnath            Gujarat      0
61   22 November 1984      Byculla        Maharashtra      0
62   22 November 1985        Delhi              Delhi      3
82   26 November 1998       Khanna             Punjab    212
99   22 November 2011     Dehradun        Uttarakhand      3
100  23 November 2021     Anantnag  Jammu and Kashmir      0
107   2 November 2013     Rayagada             Odisha     10
115  20 November 2016        Nagar          Rajasthan    152
121  24 November 2017      Cuttack             Odisha      0

In [273]:
dfinal['date'][100]="23 November 2021"

In [267]:
dfinal["date"][79]='6 January 1998'

In [268]:
dfinal[dfinal['date'].str.contains("—")]

                   date            station  state deaths
136  15 June 2024 — A 6  Hazrat Nizamuddin  Delhi      0

In [269]:
dfinal['date'][136]= "15 June 2024"

In [275]:
dfinal['date'] = pd.to_datetime(dfinal['date'], format='%d %B %Y')
dfinal['deaths'] = dfinal['deaths'].astype(int)

In [49]:
##### cms
############
#########

In [276]:


dfcm=pd.DataFrame()

page = requests.get('https://en.wikipedia.org/wiki/Minister_of_Railways_(India)').text
soup = BeautifulSoup(page, 'html.parser')

dom = etree.HTML(str(soup))


try:
    xpath = '/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[3]'

  
except:
    print("nill ",i)
table = dom.xpath(xpath)

if table:
    # Convert the lxml element back to a string and parse with BeautifulSoup
    table_html = etree.tostring(table[0], pretty_print=True).decode()
    table_soup = BeautifulSoup(table_html, 'html.parser')
    
    # Print the table content
    table2= table_soup.prettify()
    dfcm1 = pd.read_html(str(table2))
    dfcm1 = pd.concat(dfcm1)
    df= pd.concat([dfcm,dfcm1])
    
    

else:
    pass
        
dfcm = df.reset_index(drop=True) 
dfcm.index = dfcm.index + 1
print("Done")

Done

In [277]:
dfcm

                                   No.                            Portrait  \
                                   No.                            Portrait
                 Minister of Transport               Minister of Transport
1                                    1                                 NaN
2   Minister of Transport and Railways  Minister of Transport and Railways
3                                    2                                 NaN
4                                    3                                 NaN
5                                    4                                 NaN
..                                 ...                                 ...
59                                  37                                 NaN
60                                  38                                 NaN
61                                  38                                 NaN
62                                  39                                 NaN
63                                  39                                 NaN

                                        \

               Minister of Transport.1
1                                  NaN
2   Minister of Transport and Railways
3                                  NaN
4                                  NaN
5                                  NaN
..                                 ...
59                                 NaN
60                                 NaN
61                                 NaN
62                                 NaN
63                                 NaN

                Minister  (Birth-Death)  Constituency  \
                Minister  (Birth-Death)  Constituency
                                Minister of Transport
1                            John Mathai  (1886–1959)
2                  Minister of Transport and Railways
3   N. Gopalaswamy Ayyangar  (1882–1953)  MP for  ...
4   Lal Bahadur Shastri  (1904–1966)  Rajya Sabha ...
5   Jagjivan Ram  (1908–1986)  MP for  Shahabad South
..                                                ...
59  Suresh Prabhu  (born 1953)  Rajya Sabha MP for...
60  Piyush Goyal  (born 1964)  Rajya Sabha MP for ...
61  Piyush Goyal  (born 1964)  Rajya Sabha MP for ...
62  Ashwini Vaishnaw  (born 1970)  Rajya Sabha MP ...
63  Ashwini Vaishnaw  (born 1970)  Rajya Sabha MP ...

                        Term of office                                      \
                                  From                                  To
                 Minister of Transport               Minister of Transport
1                      15 August  1947                  22 September  1948
2   Minister of Transport and Railways  Minister of Transport and Railways
3                   22 September  1948                        13 May  1952
4                         13 May  1952                    7 December  1956
5                     7 December  1956                      17 April  1957
..                                 ...                                 ...
59                    9 November  2014                   3 September  2017
60                   3 September  2017                        30 May  2019
61                        31 May  2019                        7 July  2021
62                        7 July  2021                        9 June  2024
63                       10 June  2024                           Incumbent

                                                           Political party  \
                                Period                     Political party
                 Minister of Transport               Minister of Transport
1                      1 year, 38 days            Indian National Congress
2   Minister of Transport and Railways  Minister of Transport and Railways
3                    3 years, 234 days            Indian National Congress
4                    4 years, 208 days            Indian National Congress
5                             131 days            Indian National Congress
..                                 ...                                 ...
59                   2 years, 359 days              Bharatiya Janata Party
60                   3 years, 307 days              Bharatiya Janata Party
61                   3 years, 307 days              Bharatiya Janata Party
62                      3 years, 1 day              Bharatiya Janata Party
63                      3 years, 1 day              Bharatiya Janata Party

                              Ministry                      Prime Minister
                              Ministry                      Prime Minister
                 Minister of Transport               Minister of Transport
1                              Nehru I                    Jawaharlal Nehru
2   Minister of Transport and Railways  Minister of Transport and Railways
3                              Nehru I                    Jawaharlal Nehru
4                             Nehru II                    Jawaharlal Nehru
5                             Nehru II                    Jawaharlal Nehru
..                                 ...                                 ...
59                              Modi I                       Narendra Modi
60                              Modi I                       Narendra Modi
61                             Modi II                       Narendra Modi
62                             Modi II                       Narendra Modi
63                            Modi III                       Narendra Modi

[63 rows x 10 columns]

In [278]:
dir(dfcm)

['Ministry',
 'Portrait',
 'T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__dataframe__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_add_numeric_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_summary_and_see_also_doc',
 '_align_frame',
 '_align_series',
 '_append',
 '_arith_method',
 '_as_manager',
 '_attrs',
 '_box_col_values',
 '_can_fast_transpose',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_combine_frame',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_from_arguments',
 '_construct_result',
 '_constructor',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_data',
 '_dir_additions',
 '_dir_deletions',
 '_dispatch_frame_op',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_valid_index',
 '_find_valid_index',
 '_flags',
 '_from_arrays',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cleaned_column_resolvers',
 '_get_column_array',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_getitem_bool_array',
 '_getitem_multilevel',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_copy',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_iset_item',
 '_iset_item_mgr',
 '_iset_not_inplace',
 '_item_cache',
 '_iter_column_arrays',
 '_ixs',
 '_join_compat',
 '_logical_func',
 '_logical_method',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_needs_reindex_multi',
 '_protect_consolidate',
 '_reduce',
 '_reduce_axis1',
 '_reindex_axes',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_rename',
 '_replace_columnwise',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_series',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_item',
 '_set_item_frame_value',
 '_set_item_mgr',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_stat_function',
 '_stat_function_ddof',
 '_take',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'attrs',
 'axes',
 'backfill',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'columns',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'explode',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'from_dict',
 'from_records',
 'ge',
 'get',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isetitem',
 'isin',
 'isna',
 'isnull',
 'items',
 'iteritems',
 'iterrows',
 'itertuples',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_flags',
 'set_index',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_markdown',
 'to_numpy',
 'to_orc',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'to_xml',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'where',
 'xs']

In [279]:
dfcm

                                   No.                            Portrait  \
                                   No.                            Portrait
                 Minister of Transport               Minister of Transport
1                                    1                                 NaN
2   Minister of Transport and Railways  Minister of Transport and Railways
3                                    2                                 NaN
4                                    3                                 NaN
5                                    4                                 NaN
..                                 ...                                 ...
59                                  37                                 NaN
60                                  38                                 NaN
61                                  38                                 NaN
62                                  39                                 NaN
63                                  39                                 NaN

                                        \

               Minister of Transport.1
1                                  NaN
2   Minister of Transport and Railways
3                                  NaN
4                                  NaN
5                                  NaN
..                                 ...
59                                 NaN
60                                 NaN
61                                 NaN
62                                 NaN
63                                 NaN

                Minister  (Birth-Death)  Constituency  \
                Minister  (Birth-Death)  Constituency
                                Minister of Transport
1                            John Mathai  (1886–1959)
2                  Minister of Transport and Railways
3   N. Gopalaswamy Ayyangar  (1882–1953)  MP for  ...
4   Lal Bahadur Shastri  (1904–1966)  Rajya Sabha ...
5   Jagjivan Ram  (1908–1986)  MP for  Shahabad South
..                                                ...
59  Suresh Prabhu  (born 1953)  Rajya Sabha MP for...
60  Piyush Goyal  (born 1964)  Rajya Sabha MP for ...
61  Piyush Goyal  (born 1964)  Rajya Sabha MP for ...
62  Ashwini Vaishnaw  (born 1970)  Rajya Sabha MP ...
63  Ashwini Vaishnaw  (born 1970)  Rajya Sabha MP ...

                        Term of office                                      \
                                  From                                  To
                 Minister of Transport               Minister of Transport
1                      15 August  1947                  22 September  1948
2   Minister of Transport and Railways  Minister of Transport and Railways
3                   22 September  1948                        13 May  1952
4                         13 May  1952                    7 December  1956
5                     7 December  1956                      17 April  1957
..                                 ...                                 ...
59                    9 November  2014                   3 September  2017
60                   3 September  2017                        30 May  2019
61                        31 May  2019                        7 July  2021
62                        7 July  2021                        9 June  2024
63                       10 June  2024                           Incumbent

                                                           Political party  \
                                Period                     Political party
                 Minister of Transport               Minister of Transport
1                      1 year, 38 days            Indian National Congress
2   Minister of Transport and Railways  Minister of Transport and Railways
3                    3 years, 234 days            Indian National Congress
4                    4 years, 208 days            Indian National Congress
5                             131 days            Indian National Congress
..                                 ...                                 ...
59                   2 years, 359 days              Bharatiya Janata Party
60                   3 years, 307 days              Bharatiya Janata Party
61                   3 years, 307 days              Bharatiya Janata Party
62                      3 years, 1 day              Bharatiya Janata Party
63                      3 years, 1 day              Bharatiya Janata Party

                              Ministry                      Prime Minister
                              Ministry                      Prime Minister
                 Minister of Transport               Minister of Transport
1                              Nehru I                    Jawaharlal Nehru
2   Minister of Transport and Railways  Minister of Transport and Railways
3                              Nehru I                    Jawaharlal Nehru
4                             Nehru II                    Jawaharlal Nehru
5                             Nehru II                    Jawaharlal Nehru
..                                 ...                                 ...
59                              Modi I                       Narendra Modi
60                              Modi I                       Narendra Modi
61                             Modi II                       Narendra Modi
62                             Modi II                       Narendra Modi
63                            Modi III                       Narendra Modi

[63 rows x 10 columns]

In [280]:
df = df.rename(columns={'old_name1': 'new_name1', 'old_name2': 'new_name2', 'old_name3': 'new_name3'})

In [281]:
dfcm.columns = range(0,10)

In [282]:
dfcm

,0,1,2,3,4,5,6,7,8,9
1,1,NaN,NaN,John Mathai (1886–1959),15 August 1947,22 September 1948,"1 year, 38 days",Indian National Congress,Nehru I,Jawaharlal Nehru
2,Minister of Transport and Railways,Minister of Transport and Railways,Minister of Transport and Railways,Minister of Transport and Railways,Minister of Transport and Railways,Minister of Transport and Railways,Minister of Transport and Railways,Minister of Transport and Railways,Minister of Transport and Railways,Minister of Transport and Railways
3,2,NaN,NaN,N. Gopalaswamy Ayyangar (1882–1953) MP for ...,22 September 1948,13 May 1952,"3 years, 234 days",Indian National Congress,Nehru I,Jawaharlal Nehru
4,3,NaN,NaN,Lal Bahadur Shastri (1904–1966) Rajya Sabha ...,13 May 1952,7 December 1956,"4 years, 208 days",Indian National Congress,Nehru II,Jawaharlal Nehru
5,4,NaN,NaN,Jagjivan Ram (1908–1986) MP for Shahabad South,7 December 1956,17 April 1957,131 days,Indian National Congress,Nehru II,Jawaharlal Nehru
...,...,...,...,...,...,...,...,...,...,...
59,37,NaN,NaN,Suresh Prabhu (born 1953) Rajya Sabha MP for...,9 November 2014,3 September 2017,"2 years, 359 days",Bharatiya Janata Party,Modi I,Narendra Modi
60,38,NaN,NaN,Piyush Goyal (born 1964) Rajya Sabha MP for ...,3 September 2017,30 May 2019,"3 years, 307 days",Bharatiya Janata Party,Modi I,Narendra Modi
61,38,NaN,NaN,Piyush Goyal (born 1964) Rajya Sabha MP for ...,31 May 2019,7 July 2021,"3 years, 307 days",Bharatiya Janata Party,Modi II,Narendra Modi
62,39,NaN,NaN,Ashwini Vaishnaw (born 1970) Rajya Sabha MP ...,7 July 2021,9 June 2024,"3 years, 1 day",Bharatiya Janata Party,Modi II,Narendra Modi
63,39,NaN,NaN,Ashwini Vaishnaw (born 1970) Rajya Sabha MP ...,10 June 2024,Incumbent,"3 years, 1 day",Bharatiya Janata Party,Modi III,Narendra Modi

In [283]:
new_headers=("No.","del","Portrait","Minister (Birth-Death) Constituency","From","To",'Period','Political party','Ministry','Prime Minister')
dfcm.columns = new_headers

In [284]:
dfcm

,No.,del,Portrait,Minister (Birth-Death) Constituency,From,To,Period,Political party,Ministry,Prime Minister
1,1,NaN,NaN,John Mathai (1886–1959),15 August 1947,22 September 1948,"1 year, 38 days",Indian National Congress,Nehru I,Jawaharlal Nehru
2,Minister of Transport and Railways,Minister of Transport and Railways,Minister of Transport and Railways,Minister of Transport and Railways,Minister of Transport and Railways,Minister of Transport and Railways,Minister of Transport and Railways,Minister of Transport and Railways,Minister of Transport and Railways,Minister of Transport and Railways
3,2,NaN,NaN,N. Gopalaswamy Ayyangar (1882–1953) MP for ...,22 September 1948,13 May 1952,"3 years, 234 days",Indian National Congress,Nehru I,Jawaharlal Nehru
4,3,NaN,NaN,Lal Bahadur Shastri (1904–1966) Rajya Sabha ...,13 May 1952,7 December 1956,"4 years, 208 days",Indian National Congress,Nehru II,Jawaharlal Nehru
5,4,NaN,NaN,Jagjivan Ram (1908–1986) MP for Shahabad South,7 December 1956,17 April 1957,131 days,Indian National Congress,Nehru II,Jawaharlal Nehru
...,...,...,...,...,...,...,...,...,...,...
59,37,NaN,NaN,Suresh Prabhu (born 1953) Rajya Sabha MP for...,9 November 2014,3 September 2017,"2 years, 359 days",Bharatiya Janata Party,Modi I,Narendra Modi
60,38,NaN,NaN,Piyush Goyal (born 1964) Rajya Sabha MP for ...,3 September 2017,30 May 2019,"3 years, 307 days",Bharatiya Janata Party,Modi I,Narendra Modi
61,38,NaN,NaN,Piyush Goyal (born 1964) Rajya Sabha MP for ...,31 May 2019,7 July 2021,"3 years, 307 days",Bharatiya Janata Party,Modi II,Narendra Modi
62,39,NaN,NaN,Ashwini Vaishnaw (born 1970) Rajya Sabha MP ...,7 July 2021,9 June 2024,"3 years, 1 day",Bharatiya Janata Party,Modi II,Narendra Modi
63,39,NaN,NaN,Ashwini Vaishnaw (born 1970) Rajya Sabha MP ...,10 June 2024,Incumbent,"3 years, 1 day",Bharatiya Janata Party,Modi III,Narendra Modi

In [285]:
dfcm=dfcm.drop(dfcm.iloc[:,[0,1,2]],axis=1)

In [286]:
dfcm

,Minister (Birth-Death) Constituency,From,To,Period,Political party,Ministry,Prime Minister
1,John Mathai (1886–1959),15 August 1947,22 September 1948,"1 year, 38 days",Indian National Congress,Nehru I,Jawaharlal Nehru
2,Minister of Transport and Railways,Minister of Transport and Railways,Minister of Transport and Railways,Minister of Transport and Railways,Minister of Transport and Railways,Minister of Transport and Railways,Minister of Transport and Railways
3,N. Gopalaswamy Ayyangar (1882–1953) MP for ...,22 September 1948,13 May 1952,"3 years, 234 days",Indian National Congress,Nehru I,Jawaharlal Nehru
4,Lal Bahadur Shastri (1904–1966) Rajya Sabha ...,13 May 1952,7 December 1956,"4 years, 208 days",Indian National Congress,Nehru II,Jawaharlal Nehru
5,Jagjivan Ram (1908–1986) MP for Shahabad South,7 December 1956,17 April 1957,131 days,Indian National Congress,Nehru II,Jawaharlal Nehru
...,...,...,...,...,...,...,...
59,Suresh Prabhu (born 1953) Rajya Sabha MP for...,9 November 2014,3 September 2017,"2 years, 359 days",Bharatiya Janata Party,Modi I,Narendra Modi
60,Piyush Goyal (born 1964) Rajya Sabha MP for ...,3 September 2017,30 May 2019,"3 years, 307 days",Bharatiya Janata Party,Modi I,Narendra Modi
61,Piyush Goyal (born 1964) Rajya Sabha MP for ...,31 May 2019,7 July 2021,"3 years, 307 days",Bharatiya Janata Party,Modi II,Narendra Modi
62,Ashwini Vaishnaw (born 1970) Rajya Sabha MP ...,7 July 2021,9 June 2024,"3 years, 1 day",Bharatiya Janata Party,Modi II,Narendra Modi
63,Ashwini Vaishnaw (born 1970) Rajya Sabha MP ...,10 June 2024,Incumbent,"3 years, 1 day",Bharatiya Janata Party,Modi III,Narendra Modi

In [287]:
dfcm[dfcm["Minister (Birth-Death) Constituency"] == "Minister of Transport and Railways"]

,Minister (Birth-Death) Constituency,From,To,Period,Political party,Ministry,Prime Minister
2,Minister of Transport and Railways,Minister of Transport and Railways,Minister of Transport and Railways,Minister of Transport and Railways,Minister of Transport and Railways,Minister of Transport and Railways,Minister of Transport and Railways

In [288]:
dfcm[dfcm["From"].str.contains("Minister")]

,Minister (Birth-Death) Constituency,From,To,Period,Political party,Ministry,Prime Minister
2,Minister of Transport and Railways,Minister of Transport and Railways,Minister of Transport and Railways,Minister of Transport and Railways,Minister of Transport and Railways,Minister of Transport and Railways,Minister of Transport and Railways
6,Minister of Railways,Minister of Railways,Minister of Railways,Minister of Railways,Minister of Railways,Minister of Railways,Minister of Railways
30,Minister of Transport,Minister of Transport,Minister of Transport,Minister of Transport,Minister of Transport,Minister of Transport,Minister of Transport
34,Minister of Railways,Minister of Railways,Minister of Railways,Minister of Railways,Minister of Railways,Minister of Railways,Minister of Railways

In [289]:
filtered =dfcm[~dfcm["From"].str.contains("Minister")]

In [290]:
filtered = filtered.reset_index(drop=True)

In [291]:
filtered['From'] = pd.to_datetime(filtered['From'], format='%d %B %Y')

In [292]:
filtered.iloc[-1,2]

'Incumbent'

In [293]:
filtered.iloc[17,2]

'3 January  1975  [†]'

In [294]:
filtered.iloc[-1,2]="6 June  2024"

In [295]:
filtered.iloc[17,2]="3 January  1975"

In [297]:
filtered['To'] = pd.to_datetime(filtered['To'], format='%d %B %Y')

In [298]:
filtered.head()

,Minister (Birth-Death) Constituency,From,To,Period,Political party,Ministry,Prime Minister
0,John Mathai (1886–1959),1947-08-15,1948-09-22,"1 year, 38 days",Indian National Congress,Nehru I,Jawaharlal Nehru
1,N. Gopalaswamy Ayyangar (1882–1953) MP for ...,1948-09-22,1952-05-13,"3 years, 234 days",Indian National Congress,Nehru I,Jawaharlal Nehru
2,Lal Bahadur Shastri (1904–1966) Rajya Sabha ...,1952-05-13,1956-12-07,"4 years, 208 days",Indian National Congress,Nehru II,Jawaharlal Nehru
3,Jagjivan Ram (1908–1986) MP for Shahabad South,1956-12-07,1957-04-17,131 days,Indian National Congress,Nehru II,Jawaharlal Nehru
4,Jagjivan Ram (1908–1986) MP for Sasaram,1957-04-17,1962-04-10,"4 years, 358 days",Indian National Congress,Nehru III,Jawaharlal Nehru

In [299]:
ministers=[]
birth_deaths=[]

for i in range(0,len(filtered)):
    line=filtered["Minister (Birth-Death) Constituency"][i]
    Minister=line[0:line.find("(")].rstrip()
    Birth_Death=line[line.find("(")+1:line.find(")")]
    ministers.append(Minister)
    birth_deaths.append(Birth_Death)

In [300]:
len(filtered)

59

In [301]:
len(ministers)

59

In [302]:
filtered.insert(loc=0, column='Minister', value=ministers)

In [303]:
filtered.insert(loc=1, column='Birth-Death', value=birth_deaths)

In [304]:
filtered=filtered.drop("Minister (Birth-Death) Constituency",axis=1)

In [305]:
filtered

,Minister,Birth-Death,From,To,Period,Political party,Ministry,Prime Minister
0,John Mathai,1886–1959,1947-08-15,1948-09-22,"1 year, 38 days",Indian National Congress,Nehru I,Jawaharlal Nehru
1,N. Gopalaswamy Ayyangar,1882–1953,1948-09-22,1952-05-13,"3 years, 234 days",Indian National Congress,Nehru I,Jawaharlal Nehru
2,Lal Bahadur Shastri,1904–1966,1952-05-13,1956-12-07,"4 years, 208 days",Indian National Congress,Nehru II,Jawaharlal Nehru
3,Jagjivan Ram,1908–1986,1956-12-07,1957-04-17,131 days,Indian National Congress,Nehru II,Jawaharlal Nehru
4,Jagjivan Ram,1908–1986,1957-04-17,1962-04-10,"4 years, 358 days",Indian National Congress,Nehru III,Jawaharlal Nehru
5,Swaran Singh,1907–1994,1962-04-10,1963-09-01,"1 year, 144 days",Indian National Congress,Nehru IV,Jawaharlal Nehru
6,H. C. Dasappa,1894–1964,1963-09-01,1964-05-27,282 days,Indian National Congress,Nehru IV,Jawaharlal Nehru
7,H. C. Dasappa,1894–1964,1964-05-27,1964-06-09,282 days,Indian National Congress,Nanda I,Gulzarilal Nanda (acting)
8,S. K. Patil,1898–1981,1964-06-09,1966-01-11,"2 years, 277 days",Indian National Congress,Shastri,Lal Bahadur Shastri
9,S. K. Patil,1898–1981,1966-01-11,1966-01-24,"2 years, 277 days",Indian National Congress,Nanda II,Gulzarilal Nanda (acting)
10,S. K. Patil,1898–1981,1966-01-24,1967-03-13,"2 years, 277 days",Indian National Congress,Indira I,Indira Gandhi
11,C. M. Poonacha,1910–1990,1967-03-13,1969-02-14,"1 year, 338 days",Indian National Congress,Indira II,Indira Gandhi
12,Ram Subhag Singh,1917–1980,1969-02-14,1969-11-04,263 days,Indian National Congress,Indira II,Indira Gandhi
13,Panampilly Govinda Menon,1906–1970,1969-11-04,1970-02-18,106 days,Indian National Congress (R),Indira II,Indira Gandhi
14,Gulzarilal Nanda,1898–1998,1970-02-18,1971-03-18,"1 year, 28 days",Indian National Congress (R),Indira II,Indira Gandhi
15,Kengal Hanumanthaiah,1908–1980,1971-03-18,1972-07-22,"1 year, 126 days",Indian National Congress (R),Indira III,Indira Gandhi
16,T. A. Pai,1922–1981,1972-07-22,1973-02-05,198 days,Indian National Congress (R),Indira III,Indira Gandhi
17,Lalit Narayan Mishra,1923–1975,1973-02-05,1975-01-03,"1 year, 332 days",Indian National Congress (R),Indira III,Indira Gandhi
18,Kamalapati Tripathi,1905–1990,1975-02-10,1977-03-23,"2 years, 41 days",Indian National Congress (R),Indira III,Indira Gandhi
19,Madhu Dandavate,1924–2005,1977-03-26,1979-07-28,"2 years, 124 days",Janata Party,Desai,Morarji Desai
20,T. A. Pai,1922–1981,1979-07-28,1980-01-14,170 days,Janata Party (Secular),Charan Singh,Charan Singh
21,Kamalapati Tripathi,1905–1990,1980-01-14,1980-11-12,303 days,Indian National Congress (I),Indira IV,Indira Gandhi
22,Kedar Pandey,1920–1982,1980-11-12,1982-01-15,"1 year, 64 days",Indian National Congress (I),Indira IV,Indira Gandhi
23,Prakash Chandra Sethi,1919–1996,1982-01-15,1982-09-02,230 days,Indian National Congress (I),Indira IV,Indira Gandhi
24,A. B. A. Ghani Khan Choudhury,1927–2006,1982-09-02,1984-10-31,"2 years, 59 days",Indian National Congress (I),Indira IV,Indira Gandhi
25,A. B. A. Ghani Khan Choudhury,1927–2006,1984-11-04,1984-12-31,57 days,Indian National Congress (I),Rajiv I,Rajiv Gandhi
26,Bansi Lal,1927–2006,1984-12-31,1985-09-25,268 days,Indian National Congress (I),Rajiv II,Rajiv Gandhi
27,Bansi Lal,1927–2006,1985-09-25,1986-06-04,252 days,Indian National Congress (I),Rajiv II,Rajiv Gandhi
28,Rajiv Gandhi,1944–1991,1986-06-04,1986-06-24,20 days,Indian National Congress (I),Rajiv II,Rajiv Gandhi
29,Mohsina Kidwai,born 1932,1986-06-24,1986-10-22,120 days,Indian National Congress (I),Rajiv II,Rajiv Gandhi
30,Madhavrao Scindia,1945–2001,1986-10-22,1989-12-02,"3 years, 41 days",Indian National Congress (I),Rajiv II,Rajiv Gandhi
31,George Fernandes,1930–2019,1989-12-06,1990-11-10,339 days,Janata Dal,V. P. Singh,V. P. Singh
32,Janeshwar Mishra,1933–2010,1990-11-21,1991-06-21,212 days,Samajwadi Janata Party (Rashtriya),Chandra Shekhar,Chandra Shekhar
33,C. K. Jaffer Sharief,1933–2018,1991-06-21,1995-08-17,"4 years, 57 days",Indian National Congress (I),Rao,P. V. Narasimha Rao
34,P. V. Narasimha Rao,1921–2004,1995-08-18,1996-05-16,272 days,Indian National Congress (I),Rao,P. V. Narasimha Rao
35,Atal Bihari Vajpayee,1924–2018,1996-05-16,1996-06-01,16 days,Bharatiya Janata Party,Vajpayee I,Self
36,Ram Vilas Paswan,1946–2020,1996-06-01,1997-04-21,"1 year, 291 days",Janata Dal,Deve Gowda,H. D. Deve Gowda
37,Ram Vilas Paswan,1946–2020,1997-04-21,1998-03-19,"1 year, 291 days",Janata Dal,Gujral,Inder Kumar Gujral
38,Nitish Kumar,born 1951,1998-03-19,1999-08-05,"1 year, 139 days",Samata Party,Vajpayee II,Atal Bihari Vajpayee
39,Ram Naik,born 1934,1999-08-06,1999-10-13,161 days,Bharatiya Janata Party,Vajpayee II,Atal Bihari Vajpayee
40,Mamata Banerjee,born 1955,1999-10-13,2001-03-16,"1 year, 154 days",All India Trinamool Congress,Vajpayee III,Atal Bihari Vajpayee
41,Atal Bihari Vajpayee,1924–2018,2001-03-16,2001-03-20,16 days,Bharatiya Janata Party,Vajpayee III,Atal Bihari Vajpayee
42,Nitish Kumar,born 1951,2001-03-20,2004-05-22,"3 years, 63 days",Janata Dal (United),Vajpayee III,Atal Bihari Vajpayee
43,Lalu Prasad Yadav,born 1948,2004-05-23,2009-05-22,"4 years, 364 days",Rashtriya Janata Dal,Manmohan I,Manmohan Singh
44,Mamata Banerjee,born 1955,2009-05-23,2011-05-19,"1 year, 361 days",All India Trinamool Congress,Manmohan II,Manmohan Singh
45,Manmohan Singh,born 1932,2011-05-19,2011-07-12,54 days,Indian National Congress,Manmohan II,Manmohan Singh
46,Dinesh Trivedi,born 1950,2011-07-12,2012-03-19,251 days,All India Trinamool Congress,Manmohan II,Manmohan Singh
47,Mukul Roy,born 1954,2012-03-20,2012-09-22,186 days,All India Trinamool Congress,Manmohan II,Manmohan Singh
48,C. P. Joshi,born 1950,2012-09-22,2012-10-28,36 days,Indian National Congress,Manmohan II,Manmohan Singh
49,Pawan Kumar Bansal,born 1948,2012-10-28,2013-05-11,195 days,Indian National Congress,Manmohan II,Manmohan Singh
50,C. P. Joshi,born 1950,2013-05-11,2013-06-15,35 days,Indian National Congress,Manmohan II,Manmohan Singh
51,Manmohan Singh,born 1932,2013-06-15,2013-06-17,2 days,Indian National Congress,Manmohan II,Manmohan Singh
52,Mallikarjun Kharge,born 1942,2013-06-17,2014-05-26,343 days,Indian National Congress,Manmohan II,Manmohan Singh
53,D. V. Sadananda Gowda,born 1953,2014-05-27,2014-11-09,166 days,Bharatiya Janata Party,Modi I,Narendra Modi
54,Suresh Prabhu,born 1953,2014-11-09,2017-09-03,"2 years, 359 days",Bharatiya Janata Party,Modi I,Narendra Modi
55,Piyush Goyal,born 1964,2017-09-03,2019-05-30,"3 years, 307 days",Bharatiya Janata Party,Modi I,Narendra Modi
56,Piyush Goyal,born 1964,2019-05-31,2021-07-07,"3 years, 307 days",Bharatiya Janata Party,Modi II,Narendra Modi
57,Ashwini Vaishnaw,born 1970,2021-07-07,2024-06-09,"3 years, 1 day",Bharatiya Janata Party,Modi II,Narendra Modi
58,Ashwini Vaishnaw,born 1970,2024-06-10,2024-06-06,"3 years, 1 day",Bharatiya Janata Party,Modi III,Narendra Modi

In [306]:
dfinal.head(10)

        date      station           state  deaths
0 1908-12-02       Barara         Haryana      22
1 1937-07-17        Bihta           Bihar     119
2 1954-09-27      Jangaon       Telangana     136
3 1956-09-02    Jadcherla       Telangana     125
4 1956-11-23     Ariyalur      Tamil Nadu     104
5 1957-08-19       Palasa  Andhra Pradesh       4
6 1957-11-08  Farrukhabad   Uttar Pradesh       0
7 1961-10-20       Ranchi       Jharkhand      47
8 1962-07-22      Dumraon           Bihar     100
9 1963-07-22     Etmadpur   Uttar Pradesh     100

In [307]:
dfinal[dfinal["state"]=="Jammu and Kashmir"]

          date   station              state  deaths
100 2021-11-23  Anantnag  Jammu and Kashmir       0

In [318]:
dfinal[dfinal["state"].str.contains("Jammu")]

          date     station              state  deaths
69  1995-06-01  Jammu Tawi  Jammu and Kashmir      45
90  2004-12-14  Jammu Tawi  Jammu and Kashmir      37
100 2021-11-23    Anantnag  Jammu and Kashmir       0

In [317]:
dfinal["state"][69]="Jammu and Kashmir"
dfinal["state"][90]="Jammu and Kashmir"

C:\Users\chad2001\AppData\Local\Temp\ipykernel_21732\156633298.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfinal["state"][69]="Jammu and Kashmir"
C:\Users\chad2001\AppData\Local\Temp\ipykernel_21732\156633298.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfinal["state"][90]="Jammu and Kashmir"

In [319]:
filtered.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Minister         59 non-null     object
 1   Birth-Death      59 non-null     object
 2   From             59 non-null     datetime64[ns]
 3   To               59 non-null     datetime64[ns]
 4   Period           59 non-null     object
 5   Political party  59 non-null     object
 6   Ministry         59 non-null     object
 7   Prime Minister   59 non-null     object
dtypes: datetime64[ns](2), object(6)
memory usage: 3.8+ KB

In [320]:
filtered.head()

,Minister,Birth-Death,From,To,Period,Political party,Ministry,Prime Minister
0,John Mathai,1886–1959,1947-08-15,1948-09-22,"1 year, 38 days",Indian National Congress,Nehru I,Jawaharlal Nehru
1,N. Gopalaswamy Ayyangar,1882–1953,1948-09-22,1952-05-13,"3 years, 234 days",Indian National Congress,Nehru I,Jawaharlal Nehru
2,Lal Bahadur Shastri,1904–1966,1952-05-13,1956-12-07,"4 years, 208 days",Indian National Congress,Nehru II,Jawaharlal Nehru
3,Jagjivan Ram,1908–1986,1956-12-07,1957-04-17,131 days,Indian National Congress,Nehru II,Jawaharlal Nehru
4,Jagjivan Ram,1908–1986,1957-04-17,1962-04-10,"4 years, 358 days",Indian National Congress,Nehru III,Jawaharlal Nehru

In [321]:
merged_row=pd.DataFrame()

for j in range(0,len(dfinal)):
    for i in range(0,len(filtered)):
        if dfinal.iloc[j,0] > filtered.iloc[i,2]:
            if dfinal.iloc[j,0] < filtered.iloc[i,3]:
                
                row1 = pd.DataFrame([dfinal.iloc[j, :].values])#, columns=['date', 'station', 'state'])
                row2 = pd.DataFrame([filtered.iloc[i, :].values])#, columns=['Minister Constituency', 'From', 'To', 'Period', 'Political party', 'Ministry'])
                
                merged_row = pd.concat([merged_row,pd.concat([row1, row2], axis=1)],axis=0)
                break
merged_row.columns=['Date', 'Station', 'State','Deaths','Railway Minister','Birth-Death', 'From', 'To', 'Period', 'Political party', 'Ministry','Prime Minister']
merged_row.reset_index(inplace = True, drop = True)

In [322]:
for i in range(len(merged_row)):
    merged_row["Period"][i]= (merged_row["To"][i]-merged_row["From"][i]).days

C:\Users\chad2001\AppData\Local\Temp\ipykernel_21732\2292338669.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_row["Period"][i]= (merged_row["To"][i]-merged_row["From"][i]).days

In [323]:
pd.unique(merged_row["Political party"])

array(['Indian National Congress', 'Indian National Congress (R)',
       'Janata Party', 'Janata Party (Secular)',
       'Indian National Congress (I)', 'Janata Dal', 'Samata Party',
       'Janata Dal (United)', 'Rashtriya Janata Dal',
       'All India Trinamool Congress', 'Bharatiya Janata Party'],
      dtype=object)

In [324]:
merged_row["Station"][58]="Somnath"
merged_row["State"][58]="Gujarat"

C:\Users\chad2001\AppData\Local\Temp\ipykernel_21732\3829528400.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_row["Station"][58]="Somnath"
C:\Users\chad2001\AppData\Local\Temp\ipykernel_21732\3829528400.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_row["State"][58]="Gujarat"

In [325]:
merged_row[merged_row["State"].isnull()]

Empty DataFrame
Columns: [Date, Station, State, Deaths, Railway Minister, Birth-Death, From, To, Period, Political party, Ministry, Prime Minister]
Index: []

In [326]:
missing={"Bhavani Nagar":"Tamil Nadu",
        "Dadri":"Uttar Pradesh",
        "Jabri":"Jammu and Kashmir"}

merged_row["State"] = merged_row["Station"].map(missing).fillna(merged_row["State"])

In [327]:
merged_row["State"]=merged_row["State"].replace('Jammu & Kashmir', 'Jammu and Kashmir')

In [328]:
for i in range(len(merged_row)):
    if "Indian National Congress" in merged_row["Political party"][i]:
        merged_row["Political party"][i]="Indian National Congress"

C:\Users\chad2001\AppData\Local\Temp\ipykernel_21732\2432217792.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_row["Political party"][i]="Indian National Congress"

In [329]:
merged_row

,Date,Station,State,Deaths,Railway Minister,Birth-Death,From,To,Period,Political party,Ministry,Prime Minister
0,1954-09-27,Jangaon,Telangana,136,Lal Bahadur Shastri,1904–1966,1952-05-13,1956-12-07,1669,Indian National Congress,Nehru II,Jawaharlal Nehru
1,1956-09-02,Jadcherla,Telangana,125,Lal Bahadur Shastri,1904–1966,1952-05-13,1956-12-07,1669,Indian National Congress,Nehru II,Jawaharlal Nehru
2,1956-11-23,Ariyalur,Tamil Nadu,104,Lal Bahadur Shastri,1904–1966,1952-05-13,1956-12-07,1669,Indian National Congress,Nehru II,Jawaharlal Nehru
3,1957-08-19,Palasa,Andhra Pradesh,4,Jagjivan Ram,1908–1986,1957-04-17,1962-04-10,1819,Indian National Congress,Nehru III,Jawaharlal Nehru
4,1957-11-08,Farrukhabad,Uttar Pradesh,0,Jagjivan Ram,1908–1986,1957-04-17,1962-04-10,1819,Indian National Congress,Nehru III,Jawaharlal Nehru
...,...,...,...,...,...,...,...,...,...,...,...,...
127,2023-06-25,Ondagram,West Bengal,0,Ashwini Vaishnaw,born 1970,2021-07-07,2024-06-09,1068,Bharatiya Janata Party,Modi II,Narendra Modi
128,2023-09-23,Shri Ganganagar,Rajasthan,0,Ashwini Vaishnaw,born 1970,2021-07-07,2024-06-09,1068,Bharatiya Janata Party,Modi II,Narendra Modi
129,2023-10-11,Anand Vihar,Delhi,3,Ashwini Vaishnaw,born 1970,2021-07-07,2024-06-09,1068,Bharatiya Janata Party,Modi II,Narendra Modi
130,2023-10-29,Kottavalasa,Andhra Pradesh,14,Ashwini Vaishnaw,born 1970,2021-07-07,2024-06-09,1068,Bharatiya Janata Party,Modi II,Narendra Modi
131,2023-10-31,Anand Vihar,Delhi,0,Ashwini Vaishnaw,born 1970,2021-07-07,2024-06-09,1068,Bharatiya Janata Party,Modi II,Narendra Modi

In [330]:
merged_row.to_excel("output2.xlsx")